
<button (click)="goToNewCustomer()" class="btn btn-primary">New customer</button>
<button (click)="goToMainPage()" class="btn btn-primary">Back to main page</button>

<br />
<form [formGroup]="customersFilterFormGroup" (ngSubmit)="setFilter()" class="form-group">
  <label for="firstName" class="label-group">First Name:</label>
  <div class="input-group input-group-sm">
    <input type="text" id="firstName" [pattern]="'^[a-zA-Z- ]+$'" formControlName="firstNameFilter" class="form-control"/>
  </div>
  <label for="lastName" class="label-group">Last Name:</label>
  <div class="input-group input-group-sm">
    <input type="text" id="lastName" [pattern]="'^[a-zA-Z- ]+$'" formControlName="lastNameFilter"  class="form-control"/>
  </div>

  <button type="submit" [disabled]="customersFilterFormGroup.invalid" class="btn btn-primary">Ok</button>
  <button (click)="clearFilter()" class="btn btn-primary">Clear</button>
</form>

<div class="list-group"></div>
  <div *ngFor="let customer of customers" class="list-group-item">
    <div class="customer-info-group">
      {{customer.title}}
      {{customer.firstName}}
      <!--{{customer.firstNameMetaphone}}-->
      {{customer.lastName}}
      <!--{{customer.lastNameMetaphone}}-->
      <br />
      {{customer.type.customerTypeCaption}}
    </div>
    <div>
      <button class="btn btn-sm btn-outline-primary" (click)="setOnEdit(customer.id)">Eidt</button>
      <button class="btn btn-sm btn-outline-primary" (click)="open(content, customer.id)">Delete</button>
    </div>
  </div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm deleting</h4>
  </div>
  <div class="modal-body">
    Are you sure you want to delete?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.close('Cancel')">Cancel</button>
    <button type="button" class="btn btn-primary btn-danger" data-dismiss="modal" (click)="modal.close('delete')">Delete</button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
