<form [formGroup]="customerAddFormGroup" (ngSubmit)="createCustomer()" ngClass="addNew__form">
  <label for="title">Title:</label>
  <select id="title" formControlName="title">
    <option value="Mr">Mr</option>
    <option value="Ms">Ms</option>
    <option value="Mrs">Mrs</option>
    <option value="Dr">Dr</option>
  </select>
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" [pattern]="'^[a-zA-Z- ]+$'" formControlName="firstName" />
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" [pattern]="'^[a-zA-Z- ]+$'" formControlName="lastName" />
  <label for="type">Type:</label>
  <select id="type" formControlName="type">
    <option *ngFor="let customerType of customerTypes" value="{{customerType.customerTypeId}}">{{customerType.customerTypeCaption}}</option>
  </select>

  <button type="submit" [disabled]="customerAddFormGroup.invalid">Ok</button>
</form>
